body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.swiper-slide {
  min-height: 100vh;
}

.image {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.image h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  margin: 0;
  text-align: center;
  color: #fff;
  padding: 16px 0;
}

.Admin .image {
  width: 250px;
  height: 250px;
}